.control-panel {
  width: 20%;
  padding: 15px 0;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 5px;
}

.timer {
  font-size: 10px;
  font-weight: 200;
  color: rgb(196, 196, 196);
}

.volume-container {
  position: absolute;
  top: 48px;
  right: 40px;
}

.volume {
  -webkit-appearance: none;
  width: 120px;
  height: 2px;
  background: #4caf50;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

input[type="range"]::-moz-range-track {
  width: 120px;
  height: 2px;
  background: rgb(172, 172, 172);
  border-radius: 4px;
  outline: none;
  opacity: 1;
}

.volume-container .fa-volume-up {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.volume:hover {
  opacity: 0.8;
  background: #4caf50;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
