.songListHeader {
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  margin: auto;
  border-bottom: solid darkgray 0.001px;
}

.songListCont {
  position: absolute;
  width: 70%;
  height: 83%;
}

.songListHeader {
  height: 5%;
  position: sticky;
}

.listItemsCont {
  overflow: auto;
  height: 95%;
}

.coverListItem {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: -10px;
  margin-right: 10px;
  z-index: 1;
}

.songListItem {
  display: flex;
  width: 95%;
  margin: auto;
  padding-bottom: 20px;
  z-index: 1;
}

.titlePlusImg {
  display: flex;
}

.listItemTexth4 {
  color: white;
  font-size: 14px;
  font-size: 300;
}

.listItemTexth4gray {
  color: rgb(177, 175, 175);
  font-size: 14px;
  font-size: 300;
}

.firstItemListItem {
  width: 3%;
}

.secondItemListItem {
  display: flex;
  width: 35%;
}

.thirdItemListItem {
  width: 30%;
}

.forthItemListItem {
  width: 25%;
}

.fifthItemListItem {
  width: 7%;
}

.listItemsCont {
  padding-top: 22px;
}

.btn-container-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
}

.btn-play-list-item {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #4caf50;
  cursor: pointer;
}

.btn-stop-list-item {
  height: 18px;
  width: 18px;
  border-left: 7px solid #4caf50;
  border-right: 7px solid #4caf50;
  cursor: pointer;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}
