.mainSongUploadCont {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}

.uploadForm > input {
  background-color: rgb(65, 65, 65);
}

.uploadForm > input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.uploadForm > button {
  background-color: #a29bfe;
}
