.playerMainContainer {
  display: flex;
  width: 100%;
  height: 12%;
  background-color: rgb(25, 25, 25);
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.playerTitleAndArtist > div {
  padding-top: 50px;
  padding-left: 40px;
}

.playerTitleAndArtist > div > h4 {
  font-size: 13px;
  color: white;
  font-weight: 300;
}

.playerTitleAndArtist > div > h3 {
  font-size: 13px;
  color: white;
  font-weight: 600;
}

.playerTitleAndArtist {
  width: 20%;
}

.mainPlayerControls {
  width: 60%;
  flex-direction: column;
}

.playerVolumeContols {
  width: 20%;
}

.currentCover {
  position: absolute;
  width: 15%;
  height: auto;
  bottom: 120px;
}
